node_modules
_tests/
_dev/
mlv.config.js
avocato.config.js
mlv.dev.config.js
mlv.dev.stream.js
.vscode
_mlv/
_avocato/
project1/
.DS_Store
_test.py
__pycache__
vite-dist
dist
dist/_mlv
dist/_avocato
.env
*.spec
python/build
python/data
python/mdvtools/tests/temp/*
python/mdvtools/test_projects/cache/*
python/mdvtools/static/*
python/mdvtools/template/page.html
.ipynb_checkpoints

python/dist/
docs/jsdocs/build/
docs/typedoc/
docs/maindocs/_build/
docs/maindocs/autoapi/

venv/
docsenv/
data/

.idea
xvenv/