node_modules
_tests/
_dev/
mlv.config.js
avocato.config.js
mlv.dev.config.js
mlv.dev.stream.js
.vscode
_mlv/
_avocato/
project1/
.DS_Store
docs/build/
_test.py
__pycache__
vite-dist
dist
dist/_mlv
dist/_avocato
.env
*.spec
python/build