<!DOCTYPE html>
<html>
    <head>
        {% if backend %}
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        {% endif %}
        <meta charset="utf-8">
        <style>
            html,body,#holder{
                height:100%;
                margin:0px;
            }

        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/mdv.css') }}">
    </head>
    <body>

        <div id="holder"></div>
        <!--sw-->
        <script charset ="utf-8" src="{{ url_for('static', filename='js/mdv.js') }}" type="module"></script>
        <script>
            // tbd
            // _mdvInit('{{route}}');
        </script>

    </body>
</html>