<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            html,body,#holder{
                height:100%;
                margin:0px;
            }
        
        </style>
        <link rel="stylesheet" href="/static/assets/mdv.css">
    </head>
    <body>

        <div id="holder"></div>
        <!--sw-->
        <script charset ="utf-8" src="/static/js/mdv.js" type="module"></script>
        <script>
            // tbd
            // _mdvInit('{{route}}');
        </script>

    </body>
</html>