.u-tree-list{
  list-style-type: none;
}

.u-tree-selected{
  background: #888;
}

.dark .slick-row.odd{
  background:#303030;
}

.dark .ui-widget-content{
  color:white;
}

.dark .even{
  background:#404040
}

.dark .slick-header-column{
  background:black;
  color:white;
}
.dark .slick-header-column:hover {
  background: var(--menu-gradient);
}
.dark .slick-header-columns{
  background:black
}
.dark .slick-header{
  background:black
}

.dark .slick-viewport::-webkit-scrollbar-track {
  background: #585858;        /* color of the tracking area */
}

.dark .slick-viewport::-webkit-scrollbar {
  width: 12px;
}
.dark .slick-viewport::-webkit-scrollbar-thumb {
  background-color:	black ;

}

.dark .slick-cell.selected{
  background:	#5c3434
}

.mdv-progress-outer{
  background-color:gray;
  height:16px;
  border-radius:5px;
  position:relative;
}

.mdv-progress-inner{
  background-color:blue;
  height:16px;
  border-radius:5px; 
}

.mdv-progress-text{
 
  position: absolute;
  top: 1px;
  color:white;
  width: 100%;
  text-align: center;
  font-size: 14px;
  overflow:hidden,


}

.mdv-dark-mode{
  background-color: black;
  color:white;
}




.noUi-handle:after, .noUi-handle:before{
    visibility:hidden;
    left:-10px;
   
}
.ciview-tooltip{
  display:none;
  position:absolute;
  border-radius:6px;
  padding:4px;
  background:var(--background_color);
  z-index:5;

}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-horizontal .noUi-handle {
  /* fugly. also doubleslider behaviour is a bit broken I think. */
    width: 8px;
    height: 20px;
    right: -4px;
    top: -8px;
    border-radius:20px;
    background: rgba(73, 69, 78);
    box-shadow: none;
    transition: border-width 0.5s;
}
.noUi-handle:hover, .noUi-handle:active {
  border-width: 0.15em;
  transition: border-width 0.2s;
}
.noUi-horizontal {
  /* top: 4px; */
  height: 6px;
  /* margin: 6px 10px 14px 10px; */
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.ciview-menu-icon{
  font-weight:"bold";
  cursor:"pointer";
  margin:2px 4px;
  cursor:pointer;
}


.ciview-menu-bar{
  flex:0 0 auto;
  padding:3px 20px;
  background-image: var(--menu-gradient);
  color: var(--text_color);

}

.ciview-ctm-main{
	position:absolute;
	z-index:1000;
	border:1px solid black;
  background: var(--background_color);

   }
   .ciview-ctm-active{
       cursor:pointer
   }
   .ciview-ctm-selected{
       background-color:lightgray;
   }
   .ciview-ctm-active:hover{
       background-color:lightgray;
   }
   .ciview-ctm-item{
       padding:4px;
       white-space:nowrap;

     
   }
    .ciview-ctm-item span{
        margin-right:5px;
        white-space:nowrap;
    }

    .ciview-ctm-left-icon{
   	 margin-right:5px;
   }

   .ciview-ctm-ghosted{
   	 opacity:0.5
   }

   .ciview-ctm-right-icon{
   	 float:right
   }

   .legend-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .legend-body::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .legend-body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .legend-body::-webkit-scrollbar {
    width: 8px;
    height:8px;
  }
  
  .ciview-dlg-outer {
  position: absolute;
  z-index: 1100;
  background-color: var(--background_color);
  color: var(--text_color);
  border: 1px solid #d3d3d3;
  overflow:auto;
  display:flex;
  flex-flow:column;
}

.ciview-dlg-content {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  background-color: var(--dlg_background_color);
}
.ciview-dlg-content > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
}
.ciview-dlg-content label {
  margin-right: 0.4rem;
  min-width: 42%;
  flex-shrink: 0;
}
.ciview-dlg-content select {
  /* width: 5em; */
  /* flex-shrink: 1; */
  min-width: 5em;
  /* flex-grow: 1; nb flex-direction is now column */
}
.ciview-dlg-content .ciview-button {
  display: inline-block;
  margin: 8px;
}
.ciview-dlg-content .noUi-horizontal {
  min-width: 30%;
  flex-grow: 1;
}
/* .ciview-dlg-content .noUi-target {
  background-color: var(--input_background_color);
} */
.ciview-radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
  padding-left: 6px;
  padding-bottom: 4px;
  background-color: var(--input_background_color);
  border-radius: 8px;
}

select, input, textarea {
  color: var(--text_color);
  background-color: var(--background_color);
}
  
   .gutter-horizontal{
     float:left;
     height:100%;
     background-color:silver;
     cursor:col-resize;
   }

   .split-horizontal{
    float:left;
    height:100%;
   }
  .ciview-dlg-close-icon{
      cursor:pointer;
      color:#eee;
      font-size:20px;
      margin-left:auto;
      position: absolute;
      right: 10px;
  }

  .ciview-dlg-content{ 
        overflow-x:hidden;
        overflow-y:auto;
        flex:1 1 auto;
        padding:5px;
  }
  
  .ciview-dlg-header {
    padding: 6px;
    cursor: move;
    /* background-color: #2196F3; */
    color: #fff;
    text-overflow: ellipsis;
    overflow:hidden;
    flex:0 0 auto;
    display: flex;
  }

  .ciview-dlg-header-text{
      white-space:nowrap;
      text-overflow: ellipsis;
  }


  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
  }
  
  .autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-size:0.8em;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .mdv-grid-2-columns {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 10px;
    justify-items:left;
  }

  .mdv-grid-footer{
    grid-area:-2 / 1 / -1 /-1; 
  }

  .mdv-section {
    white-space: nowrap;
    padding:5px;
  }

  .mdv-disabled {
    pointer-events:"none";
    color:gray;
  }

  .mdv-element-dragged {
    border: 1px solid var(--text_color);
  }

  .multiselect-dropdown{
    white-space:normal;
    padding: 2px 5px 0px 5px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color: var(--input_background_color);
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='dimgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
  }
  .multiselect-dropdown span.optext, .multiselect-dropdown span.placeholder{
    margin-right:0.5em; 
    margin-bottom:2px;
    padding:1px 0; 
    border-radius: 4px; 
    display:inline-block;
  }
  .multiselect-dropdown span.optext{
    background-color:var(--background_color);
    padding:1px 0.75em; 
    font-size:0.9em;
  }
  .multiselect-dropdown span.optext .optdel {
    float: right;
    margin: 0 -6px 1px 5px;
    font-size: 0.7em;
    margin-top: 2px;
    cursor: pointer;
    color: var(--text_color);
  }
  .multiselect-dropdown span.optext .optdel:hover { color: #c66;}
  .multiselect-dropdown span.placeholder{
    color:dimgray;
  }
  .multiselect-dropdown-list-wrapper{
    box-shadow: gray 0 3px 8px;
    z-index: 100;
    padding:2px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color:var(--input_background_color);
    margin: -1px;
    position: absolute;
    color:var(--text_color);
  }
  .multiselect-dropdown-list-wrapper button{
      margin:3px;
      padding:2px 3px;
      font-size:0.9em;
  }
  .multiselect-dropdown-list-wrapper .multiselect-dropdown-search{
    margin-bottom:5px;
    background:var(--input_background_color);
    min-height:200px;
    max-height:300px;
  }
  .multiselect-dropdown-list{
    padding:2px;
    overflow-y:auto;
    overflow-x: hidden;
  }
  .multiselect-dropdown-list::-webkit-scrollbar {
    width: 6px;
  }
  .multiselect-dropdown-list::-webkit-scrollbar-thumb {
    background-color: #bec4ca;
    border-radius:3px;
  }
  
  .multiselect-dropdown-list div{
    padding: 2px;
    font-size:0.9em;
    white-space:nowrap;
  }
  .multiselect-dropdown-list input{
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.35em;  
  }

  .multiselect-dropdown-list label{
    margin-bottom:0px; 
  }
  .multiselect-dropdown-list div.checked{
  }
  .multiselect-dropdown-list div:hover{
    background-color:darkgray;
  }
  .multiselect-dropdown span.maxselected {width:100%;}
  .multiselect-dropdown-all-selector {border-bottom:solid 1px #999;}
  
.color-picker-no-border::-webkit-color-swatch {
  padding: 0;
  border: none;
}
