.u-tree-list{
  list-style-type: none;
}

.u-tree-selected{
  background: #888;
}

.Dark .slick-row.odd{
  background:#303030;
}

.Dark .ui-widget-content{
  color:white;
}

.Dark .even{
  background:#404040
}

.Dark .slick-header-column{
  background:black;
  color:white;
}
.Dark .slick-header-column:hover {
  background: var(--menu-gradient);
}
.Dark .slick-header-columns{
  background:black
}
.Dark .slick-header{
  background:black
}

.Dark .slick-viewport::-webkit-scrollbar-track {
  background: #585858;        /* color of the tracking area */
}

.Dark .slick-viewport::-webkit-scrollbar {
  width: 12px;
}
.Dark .slick-viewport::-webkit-scrollbar-thumb {
  background-color:	black ;

}

.Dark .slick-cell.selected{
  background:	#5c3434
}

.mdv-progress-outer{
  background-color:gray;
  height:16px;
  border-radius:5px;
  position:relative;
}

.mdv-progress-inner{
  background-color:blue;
  height:16px;
  border-radius:5px; 
}

.mdv-progress-text{
 
  position: absolute;
  top: 1px;
  color:white;
  width: 100%;
  text-align: center;
  font-size: 14px;
  overflow:hidden,


}

.mdv-dark-mode{
  background-color: black;
  color:white;
}




.noUi-handle:after, .noUi-handle:before{
    visibility:hidden;
    left:-10px;
   
}
.ciview-tooltip{
  display:none;
  position:absolute;
  border-radius:6px;
  padding:4px;
  background:burlywood;
  z-index:5;

}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-horizontal .noUi-handle {
  /* fugly. also doubleslider behaviour is a bit broken I think. */
    width: 20px;
    height: 20px;
    right: -10px;
    top: -8px;
    border-radius:20px;
    background: rgba(73, 69, 78);
    box-shadow: none;
    transition: border-width 0.5s;
}
.noUi-handle:hover, .noUi-handle:active {
  border-width: 0.2em;
  transition: border-width 0.2s;
}
.noUi-horizontal {
  top: 4px;
  height: 6px;
  margin: 6px 10px 14px 10px;
}
.ciview-dlg-content label {
  margin-right: 1em;
}
.ciview-dlg-content .ciview-button {
  display: inline-block;
  margin: 8px;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.ciview-menu-icon{
  font-weight:"bold";
  cursor:"pointer";
  margin:2px 4px;
  cursor:pointer;
}


.ciview-menu-bar{
  flex:0 0 auto;
  padding:3px 20px;
  background-image: var(--menu-gradient);
  color: var(--text_color);

}

.ciview-ctm-main{
	position:absolute;
	z-index:1000;
	border:1px solid black;
  background:white;

   }
   .ciview-ctm-active{
       cursor:pointer
   }
   .ciview-ctm-selected{
       background-color:lightgray;
   }
   .ciview-ctm-active:hover{
       background-color:lightgray;
   }
   .ciview-ctm-item{
       padding:4px;
       white-space:nowrap;

     
   }
    .ciview-ctm-item span{
        margin-right:5px;
        white-space:nowrap;
    }

    .ciview-ctm-left-icon{
   	 margin-right:5px;
   }

   .ciview-ctm-ghosted{
   	 opacity:0.5
   }

   .ciview-ctm-right-icon{
   	 float:right
   }

   .legend-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .legend-body::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .legend-body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .legend-body::-webkit-scrollbar {
    width: 8px;
    height:8px;
  }
  
  




   .ciview-dlg-outer {
    position: absolute;
    z-index: 1100;
    background-color: var(--background_color);
    color: var(--text_color);
    border: 1px solid #d3d3d3;
    overflow:auto;
    display:flex;
    flex-flow:column;

  }
  select, input, textarea {
    color: var(--text_color);
    background-color: var(--background_color);
  }
   .gutter-horizontal{
     float:left;
     height:100%;
     background-color:silver;
   }

   .split-horizontal{
    float:left;
    height:100%;
   }
  .ciview-dlg-close-icon{
      cursor:pointer;
      color:black;
      font-size:20px;
      margin-left:auto;
      margin-bottom:8px;
      position:absolute;
      top:3px;
      right:3px
  }

  .ciview-dlg-content{ 
        overflow-X:hidden;
        overflow-Y:auto;
        flex:1 1 auto;
        padding:5px;
  }
  
  .ciview-dlg-header {
    padding: 6px;
    cursor: move;
    background-color: #2196F3;
    color: #fff;
    text-overflow: ellipsis;
    overflow:hidden;
    flex:0 0 auto;
    margin-bottom: 0.2em;
  }

  .ciview-dlg-header-text{
      white-space:nowrap;
      text-overflow: ellipsis;
  }


  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
  }
  
  .autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-size:0.8em;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .mdv-grid-2-columns {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 10px;
    justify-items:left;
  }

  .mdv-grid-footer{
    grid-area:-2 / 1 / -1 /-1; 
  }

  .mdv-section {
    white-space: nowrap;
    padding:5px;
  }

  .mdv-disabled {
    pointer-events:"none";
    color:gray;
  }

  .mdv-element-dragged {
    border: 1px solid var(--text_color);
  }