/*! If making any change to the css variables, sync the changes with catalog/catalog_index.css (temporary fix) */
@media (prefers-color-scheme: dark) {
    :root {
        --title_bar_color: #222;
        --main_panel_color: black;
        --text_color: white;
        --background_color: #f5f5f5;
        --fade_background_color: rgba(245, 245, 245, 0.4);
        --menu_bar_color: #D6D8DB;
        --border_menu_bar_color: #c9c9c9;
        --primary_background: #ecf0f1;
        --shadow_color: #888;
        --input_border_color: #222;
        --input_background_color: #222;
        --dlg_background_color: #111;
        --background_color_error: #fdeded;
        --icon_color_error: #ff4c4c;
        --text_color_error: #5f213b;
        --menu-gradient: linear-gradient(#444, #222);
        --tooltip_background_color: #f5f5f5;
        --tooltip_text_color: #222;
        --title_bar_height: 31px;
        --resizer-size: 10px;
        --resizer-offset: -10px;
        --row_even_background: #404040;
        --row_odd_background: #303030;
        --header_menu_background: #252525;
        --scroll_bar_track: #424242;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --title_bar_color: white;
        --main_panel_color: #f1f1f1;
        --text_color: black;
        --background_color: #f5f5f5;
        --fade_background_color: rgba(245, 245, 245, 0.4);
        --menu_bar_color: #D6D8DB;
        --border_menu_bar_color: #c9c9c9;
        --primary_background: #ecf0f1;
        --shadow_color: #888;
        --input_border_color: rgb(230, 230, 230);
        --input_background_color: rgb(230, 230, 230);
        --dlg_background_color: white;
        --background_color_error: #fdeded;
        --icon_color_error: #ff4c4c;
        --text_color_error: #5f213b;
        --menu-gradient: linear-gradient(white, darkgray);
        --tooltip_background_color: #222;
        --tooltip_text_color: #f5f5f5;
        --title_bar_height: 31px;
        --resizer-size: 10px;
        --resizer-offset: -10px;
        --row_even_background: white;
        --row_odd_background: #fafafa;
        --header_menu_background: #fafafa;
        --scroll_bar_track: #f1f1f1;
    }
}

.dark {
    --title_bar_color: #222;
    --main_panel_color: black;
    --text_color: white;
    --background_color: #252525;
    --fade_background_color: rgba(37, 37, 37, 0.4);
    --menu_bar_color: #404040;
    --border_menu_bar_color: #727272;
    --primary_background: #353536;
    --shadow_color: #121212;
    --input_border_color: #222;
    --input_background_color: #222;
    --dlg_background_color: #111;
    --background_color_error: #4f3037;
    --text_color_error: #ff8d91;
    --menu-gradient: linear-gradient(#444, #222);
    --tooltip_background_color: #f5f5f5;
    --tooltip_text_color: #222;
    --row_even_background: #404040;
    --row_odd_background: #303030;
    --header_menu_background: #252525;
    --scroll_bar_track: #424242;
}

.light {
    --title_bar_color: white;
    --main_panel_color: #f1f1f1;
    --text_color: black;
    --background_color: #f5f5f5;
    --fade_background_color: rgba(245, 245, 245, 0.4);
    --menu_bar_color: #D6D8DB;
    --primary_background: #ecf0f1;
    --shadow_color: #888;
    --input_border_color: rgb(230, 230, 230);
    --input_background_color: rgb(230, 230, 230);
    --dlg_background_color: white;
    --background_color_error: #fdeded;
    --text_color_error: #5f213b;
    --menu-gradient: linear-gradient(white, darkgray);
    --tooltip_background_color: #222;
    --tooltip_text_color: #f5f5f5;
    --row_even_background: white;
    --row_odd_background: #fafafa;
    --header_menu_background: #fafafa;
    --scroll_bar_track: #f1f1f1;
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --button_color: #1266f1;
    --background_color_success: #eefded;
    --background_color_info: #edf5fd;
    --background_color_warning: #fdfded;
    --text_color_success: #215f26;
    --text_color_info: #21425f;
    --text_color_warning: #5f5f21;
    --scroll_bar_thumb: #828282;
}
.dark a {
    color: #1266f1;
}
select, input, textarea {
    border: 0.1em solid var(--input_border_color);
    border-radius: 4px;
    background-color: var(--input_background_color);
}
.mdv-select{
    border-radius: 3px;
    font-size:0.8em;
    margin:2px;
}

.mdv-divider{
    margin-left:6px;
    margin-right:6px;
}

.mdv-select:focus{

    box-shadow:0px 0px 3px 2px #088AFF;
    outline: 0 none;
}

.mdv-info-text{
    font-size:0.9em;
    opacity:0.7;
    display:block;

}

.mdv-section{
    padding:4px;
}

.mdv-section-header{
    background-color:var(--background_color);
    font-weight: bold;
}
.mdv-section-value{
    white-space:pre-wrap;
}

.mdv-image-holder{
    margin:5px;
    border:1px solid black;
    position:relative;
    overflow:hidden;
}


.mdv-checkbox{
    transform:scale(1.2);
    vertical-align: middle;
}


.mdv-flex-dynamic{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    flex-grow:1;
    min-width:0;
}

.mdv-flex-fixed{
    flex-shrink:0;
    flex-grow:0;
}

.grid-stack  .ciview-chart-panel {
    box-shadow: 0 0 1em var(--shadow_color);
    /* nb changing box-sizing,  adjusted width in _getContentDimensions()...
    otherwise VolumeView was overflowing.
    Left 'overflow: hidden' for now anyway.
    */
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid var(--background_color);
}
.grid-stack-placeholder {
    background-color: rgba(0, 0, 0, 0.3);
}

.grid-stack {
    overflow-x: hidden !important;
}

/* Overriding grid stack resizer styling to replicate absolute view */
.grid-stack .ui-resizable-n { 
    position: absolute !important;
    top: var(--resizer-offset) !important;
    left: 0 !important;
    right: 0 !important;
}
.grid-stack .ui-resizable-s { 
    position: absolute !important;
    bottom: var(--resizer-offset) !important;
    left: 0 !important;
    right: 0 !important;
 }
.grid-stack .ui-resizable-e { 
    position: absolute !important;
    top: var(--title_bar_height) !important;
    right: var(--resizer-offset) !important;
    bottom: 0 !important;
    height: calc(100% - var(--title_bar_height)) !important;
}
.grid-stack .ui-resizable-w { 
    position: absolute !important;
    top: var(--title_bar_height) !important;
    left: var(--resizer-offset) !important;
    bottom: 0 !important;
    height: calc(100% - var(--title_bar_height)) !important;
 }
 .grid-stack .ui-resizable-ne { 
     position: absolute !important;
     top: var(--resizer-offset) !important;
     right: var(--resizer-offset) !important;
  }
 .grid-stack .ui-resizable-nw { 
     position: absolute !important;
     top: var(--resizer-offset) !important;
     left: var(--resizer-offset) !important;
  }
.grid-stack .ui-resizable-se { 
    position: absolute !important;
    bottom: var(--resizer-offset) !important;
    right: var(--resizer-offset) !important;
    /* To hide the duplicate resize handles at the bottom */
    background: transparent !important;
 }
.grid-stack .ui-resizable-sw { 
    position: absolute !important;
    bottom: var(--resizer-offset) !important;
    left: var(--resizer-offset) !important;
    background: transparent !important;
 }

.dark .gridLock {
    border-color: #101010;
}
.light .gridLock {
    border-color: #888;
}

.ciview-chart-panel{
    display:flex;
    flex-flow:column;
    border-radius:5px;
    box-shadow: 0 0 1em var(--shadow_color);
}

/* Resize handlers */
/* Top */
.resizer-n {
    position: absolute;
    top: var(--resizer-offset);
    left: 0;
    width: 100%;
    height: var(--resizer-size);
    cursor: n-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Bottom */
  .resizer-s {
    position: absolute;
    bottom: var(--resizer-offset);
    left: 0;
    width: 100%;
    height: var(--resizer-size);
    cursor: s-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Right */
  /* Hardcoding the height of ciview-chart-titlebar (31px) to avoid drag and resize overlap */
  .resizer-e {
    position: absolute;
    top: var(--title_bar_height);
    right: var(--resizer-offset);
    width: var(--resizer-size);
    height: calc(100% - var(--title_bar_height));
    cursor: e-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Left */
  .resizer-w {
    position: absolute;
    top: var(--title_bar_height);
    left: var(--resizer-offset);
    width: var(--resizer-size);
    height: calc(100% - var(--title_bar_height));
    cursor: w-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Top-right */
  .resizer-ne {
    position: absolute;
    top: var(--resizer-offset);
    right: var(--resizer-offset);
    width: var(--resizer-size);
    height: var(--resizer-size);
    cursor: ne-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Top-left */
  .resizer-nw {
    position: absolute;
    top: var(--resizer-offset);
    left: var(--resizer-offset);
    width: var(--resizer-size);
    height: var(--resizer-size);
    cursor: nw-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Bottom-right */
  .resizer-se {
    position: absolute;
    bottom: var(--resizer-offset);
    right: var(--resizer-offset);
    width: var(--resizer-size);
    height: var(--resizer-size);
    cursor: se-resize;
    background: transparent;
    z-index: 2;
  }
  
  /* Bottom-left */
    .resizer-sw {
    position: absolute;
    bottom: var(--resizer-offset);
    left: var(--resizer-offset);
    width: var(--resizer-size);
    height: var(--resizer-size);
    cursor: sw-resize;
    background: transparent;
    z-index: 2;
  }  

.ciview-chart-titlebar{
    display:flex;
    padding:4px;
    color: var(--text_color);
    background-color: var(--background_color);
    flex:0 0 auto;
    font-size:14px;
    overflow:hidden;
    border: 1px solid rgba(120,120,120, 0.2); /* Add a subtle border */
}

.ciview-contentDiv {
    background-color: var(--primary_background);
}

.ciview-chart-title{
    flex-grow:1;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-left: 0.2em;
}
.ciview-chart-menuspace{
    flex-grow:0;
    white-space:nowrap;
    display:flex;
    flex-flow: row-reverse;
    align-items: center;
}

/*[aria-label][role~="tooltip"]::after{
    background-color: #155724;
}*/

.ciview-chart-content{
    flex:1 1 auto;
    position:relative;
    z-index: 0;
    min-height:1px;
    background-color: var(--main_panel_color);
    color: var(--text_color);
    overflow: hidden;
}

.legend-container {
    backdrop-filter: blur(1px);
    padding: 0.4em;
    transition: backdrop-filter 0.2s ease-in-out;
    z-index: 2;
    /* changing var(--background_color) to rgb() didn't help */
    /* background-color: rgba(var(--background_color), 0.7); */
}
.legend-container:hover {
    backdrop-filter: blur(20px);
}
.dark .legend-container {
    background-color: rgba(51, 51, 51, 0.3);
}
.light .legend-container {
    background-color: rgba(186, 186, 186, 0.3);
}

.row-bar{
    cursor:pointer;
}


.pie-arc{
    cursor:pointer;
}

.row-text{
    cursor:pointer;
}

.ciview-button{
    background: var(--button_color);
    padding:5px 8px;
    border-radius:5px;
    cursor:pointer;
    color:white;
    border: 0;
}

.ciview-button-sm{
    background: var(--button_color);
    padding:3px 6px;
    border-radius:5px;
    cursor:pointer;
    color:white;
    font-size:0.8em;
    margin: 0px 3px;
    text-align: center;
    border: 0;
}



.ciview-button-disabled{
    background: var(--button_color);
    padding:5px 8px;
    border-radius:5px;
    opacity:0.6;
    color:white;
    pointer-events:none;
   
}

.ciview-disabled{
    pointer-events:none;
    opacity:0.6;
}




.ciview-center{
    display: flex;
    justify-content: center;
    align-items: center;
}





.ciview-title-div{
    font-size:16px;
    font-weight:bold;
    padding:5px;
}

.ciview-padded-div{
    padding:4px;
}

.ciview-main-menu-bar {
    height: 50px;
    padding: 5px;
    color: var(--text_color);
    background-color: var(--background_color);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ciview-button:hover{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.ciview-button-sm:hover{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.row-bar:hover{
    opacity:0.6;
}

.pie-arc:hover{
    opacity:0.6;
}


.ciview-info-alert{
    padding:8px;
    width:250px;
    position:absolute;
    font-size:18px;
    z-index:5;

}
.ttt{
   float:right;
}
.ciview-alert-info{
    color:#155724;
    background:#d4edda;
    border: 1px solid #c3e6cb;
}

.ciview-alert-danger{
    color:#721c24;
    background:#f8d7da;
    border: 1px solid #f5c6cb;
}

.ciview-alert-warning{
    color:#856404;
    background:#fff3cd;
    border: 1px solid #ffeeba;
}


.civ-dg-div{
    padding:5px;
}

.ciview-info-alert-spin{
    font-size:18px;
    float:right

}



.civew-chart-resetbutton{
    visibility:hidden;
    
}



.ciview-chart-icon{
    cursor:pointer;
    margin: 0px 2px;
}

.mdv-image-label {
    position:absolute;
    text-align: center;
}
/* messes up border color...
.Dark .mlv-tile-missing {
    filter: invert();
} */
.ui-resizable-se {
    /* not ideal but reduces clashes with other elements / scale-bar */
    bottom: 0 !important;
    right: 0 !important;
}
.invalid {
    background-color: var(--background_color_error);
    color: var(--text_color_error);
}
/* Tooltip styles */
[aria-label][role~="tooltip"]::after { 
    background:var(--tooltip_background_color); 
    color: var(--tooltip_text_color);
}

.dark [aria-label][role~="tooltip"]::before{
    filter: invert()
}

/* Markdown styles */
.markdown-body {
    word-break: break-word;
}

.markdown-body table {
    font-size: small;
    border-collapse: collapse;
    display: block;
    max-height: 250px;
    overflow: auto;
    text-align: center;
    border: 1px solid var(--border_menu_bar_color);
}

.markdown-body thead, .markdown-body tbody {
    width: 100%;
}

.markdown-body td {
    border: 1px solid var(--menu_bar_color);
    min-width: 5rem;
    padding: 4px 8px;
}

.markdown-body th {
    /* display: none; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.markdown-body tr:nth-child(odd) {
    background-color: var(--primary_background)
}

.markdown-body tr:nth-child(even) {
    background-color: var(--background_color)
}

.tippy-content{
    background: var(--tooltip_background_color);
    color: var(--tooltip_text_color);
}

.tippy-arrow:before {
   color: var(--tooltip_background_color);
}

/* Slick Grid React styles */

.slickgrid-react-container {
    .grid-pane, 
    .slickgrid-container,
    .slick-viewport {
        width: 100%;
        height: 100%;
    }

    .slickgrid-container {
        border: 0.5px solid var(--border_menu_bar_color);
    }

    .slick-pane-top {
        border-top-width: 1px;
        border-top-color: var(--border_menu_bar_color) !important;
    }

    .grid-canvas {
        background-color: transparent !important;
    }

    .slick-viewport {
        scrollbar-color: var(--scroll_bar_thumb) var(--scroll_bar_track) !important;
      }

    .slick-cell, .slick-header-column {
        border: 0.5px solid transparent !important;
        border-right-color: var(--border_menu_bar_color) !important;
        border-bottom-color: var(--border_menu_bar_color) !important;
        font-size: 13px !important;
    }

    .slick-cell {
        padding: 2px 4px !important;
        line-height: 20px !important;
    }

    .slick-empty-data-warning {
        display: none !important;
    }

    .slick-header-column {
        display: block !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .slick-header-column * {
        max-width: 100% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    .slick-column-name {
        max-width: 80% !important;
        font-weight: 600 !important;
    }

    .slick-header {
        width: 100% !important;
    }

    .slick-header-column,
    .slick-header-menu,
    .slick-pane-header {
        background-color: var(--background_color) !important;
        color: var(--text_color) !important;
    }

    .slick-row.even:hover, .slick-row.odd:hover {
        background-color: var(--border_menu_bar_color) !important;
    }

    .slick-header-menu-button,
    .slick-row.odd,
    .slick-row.even {
        color: var(--text_color) !important;
    }

    .slick-cell.selected {
        background-color: var(--background_color_error) !important;
    }

    .slick-row.odd {
        background-color: var(--row_odd_background) !important;
    }

    .slick-row.even {
        background-color: var(--row_even_background) !important;
    }

    .slick-menu-item:hover:not(.slick-menu-item-divider) {
        background-color: var(--border_menu_bar_color);
    }
}