@media (prefers-color-scheme: dark) {
    :root {
        --title_bar_color: #222;
        --main_panel_color: black;
        --text_color: white;
        --background_color: rgb(51, 51, 51);
        --input_border_color: #222;
        --input_background_color: #222;
        --dlg_background_color: #111;
        --menu-gradient: linear-gradient(#444, #222);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --title_bar_color: white;
        --main_panel_color: #f1f1f1;
        --text_color: black;
        --background_color: rgb(186, 186, 186);
        --input_border_color: rgb(230, 230, 230);
        --input_background_color: rgb(230, 230, 230);
        --dlg_background_color: white;
        --menu-gradient: linear-gradient(white, darkgray);
    }
}

.dark {
    --title_bar_color: #222;
    --main_panel_color: black;
    --text_color: white;
    --background_color: rgb(51, 51, 51);
    --input_border_color: #222;
    --input_background_color: #222;
    --dlg_background_color: #111;
    --menu-gradient: linear-gradient(#444, #222);
}

.light {
    --title_bar_color: white;
    --main_panel_color: #f1f1f1;
    --text_color: black;
    --background_color: rgb(186, 186, 186);
    --input_border_color: rgb(230, 230, 230);
    --input_background_color: rgb(230, 230, 230);
    --dlg_background_color: white;
    --menu-gradient: linear-gradient(white, darkgray);
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --button_color: #1266f1;
}
.dark a {
    color: #1266f1;
}
select, input, textarea {
    border: 0.1em solid var(--input_border_color);
    border-radius: 4px;
    background-color: var(--input_background_color);
}
.mdv-select{
    border-radius: 3px;
    font-size:0.8em;
    margin:2px;
}

.mdv-divider{
    margin-left:6px;
    margin-right:6px;
}

.mdv-select:focus{

    box-shadow:0px 0px 3px 2px #088AFF;
    outline: 0 none;
}

.mdv-info-text{
    font-size:0.9em;
    opacity:0.7;
    display:block;

}

.mdv-section{
    padding:4px;
}

.mdv-section-header{
    background-color:var(--background_color);
    font-weight: bold;
}
.mdv-section-value{
    white-space:pre-wrap;
}

.mdv-image-holder{
    margin:5px;
    border:1px solid black;
    position:relative;
    overflow:hidden;
}


.mdv-checkbox{
    transform:scale(1.2);
    vertical-align: middle;
}


.mdv-flex-dynamic{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    flex-grow:1;
    min-width:0;
}

.mdv-flex-fixed{
    flex-shrink:0;
    flex-grow:0;
}

.grid-stack  .ciview-chart-panel {
    box-shadow: none;
    /* nb changing box-sizing,  adjusted width in _getContentDimensions()...
    otherwise VolumeView was overflowing.
    Left 'overflow: hidden' for now anyway.
    */
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid var(--background_color);
}
.grid-stack-placeholder {
    background-color: rgba(0, 0, 0, 0.3);
}

.grid-stack {
    overflow-x: hidden !important;
}

.dark .gridLock {
    border-color: #101010;
}
.light .gridLock {
    border-color: #888;
}

.ciview-chart-panel{
    display:flex;
    flex-flow:column;
    border-radius:5px;
    box-shadow: 0 0 1em #888;
}
/*  */
/* .ciview-chart-panel::-webkit-resizer {
    z-index: 0;
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: green;
    width: 100px;
    height: 100px;
} */
.resizer-both {
  width: 15px;
  height: 15px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.ciview-chart-titlebar{
    display:flex;
    padding:4px;
    background: var(--title_bar_color);
    color: var(--text_color);
    flex:0 0 auto;
    font-size:14px;
}

.ciview-contentDiv {
    background-color: var(--background_color);
}

.ciview-chart-title{
    flex-grow:1;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-left: 0.2em;
}
.ciview-chart-menuspace{
    flex-grow:0;
    white-space:nowrap;
    display:flex;
    flex-flow: row-reverse;
    align-items: center;
}

/*[aria-label][role~="tooltip"]::after{
    background-color: #155724;
}*/

.ciview-chart-content{
    flex:1 1 auto;
    position:relative;
    z-index: 0;
    min-height:1px;
    background-color: var(--main_panel_color);
    color: var(--text_color);
}

.legend-container {
    backdrop-filter: blur(1px);
    padding: 0.4em;
    transition: backdrop-filter 0.2s ease-in-out;
    z-index: 2;
    /* changing var(--background_color) to rgb() didn't help */
    /* background-color: rgba(var(--background_color), 0.7); */
}
.legend-container:hover {
    backdrop-filter: blur(20px);
}
.dark .legend-container {
    background-color: rgba(51, 51, 51, 0.3);
}
.light .legend-container {
    background-color: rgba(186, 186, 186, 0.3);
}

.row-bar{
    cursor:pointer;
}


.pie-arc{
    cursor:pointer;
}

.row-text{
    cursor:pointer;
}

.ciview-button{
    background: var(--button_color);
    padding:5px 8px;
    border-radius:5px;
    cursor:pointer;
    color:white;
    border: 0;
}

.ciview-button-sm{
    background: var(--button_color);
    padding:3px 6px;
    border-radius:5px;
    cursor:pointer;
    color:white;
    font-size:0.8em;
    margin: 0px 3px;
    text-align: center;
    border: 0;
}



.ciview-button-disabled{
    background: var(--button_color);
    padding:5px 8px;
    border-radius:5px;
    opacity:0.6;
    color:white;
    pointer-events:none;
   
}

.ciview-disabled{
    pointer-events:none;
    opacity:0.6;
}




.ciview-center{
    display: flex;
    justify-content: center;
    align-items: center;
}





.ciview-title-div{
    font-size:16px;
    font-weight:bold;
    padding:5px;
}

.ciview-padded-div{
    padding:4px;
}

.ciview-main-menu-bar{
    height:30px;
    color: var(--text_color);
    background-color: var(--background_color);
}



.ciview-button:hover{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.ciview-button-sm:hover{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.row-bar:hover{
    opacity:0.6;
}

.pie-arc:hover{
    opacity:0.6;
}


.ciview-info-alert{
    padding:8px;
    width:250px;
    position:absolute;
    font-size:18px;
    z-index:5;

}
.ttt{
   float:right;
}
.ciview-alert-info{
    color:#155724;
    background:#d4edda;
    border: 1px solid #c3e6cb;
}

.ciview-alert-danger{
    color:#721c24;
    background:#f8d7da;
    border: 1px solid #f5c6cb;
}

.ciview-alert-warning{
    color:#856404;
    background:#fff3cd;
    border: 1px solid #ffeeba;
}


.civ-dg-div{
    padding:5px;
}

.ciview-info-alert-spin{
    font-size:18px;
    float:right

}



.civew-chart-resetbutton{
    visibility:hidden;
    
}



.ciview-chart-icon{
    cursor:pointer;
    margin: 0px 2px;
}

.annotationDialog h2 {
    font-weight: 400;
    line-height: 1.2em;
}

.annotationDialog ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    font-size: small;
}

.annotationDialog li {
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: var(--button_color);
}

.annotationDialog .allTagged {
    
}
.annotationDialog .someTagged {
    filter: saturate(20%);
}


.mdv-image-label {
    position:absolute;
    text-align: center;
}
/* messes up border color...
.Dark .mlv-tile-missing {
    filter: invert();
} */