[tool.poetry]
name = "mdvtools"
version = "0.0.1"
description = "Multi Dimensional Viewer (MDV) is web based application for analyzing data"
authors = [
    "Martin Sergeant <m.j.sergeant1@googlemail.com>",
    "PeterTodd <peter.todd@well.ox.ac.uk>",
]
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = ">=3.11,<3.13"
anndata = "0.12.2"
fasteners = "^0.18"
Flask = "3.0.3"
Flask-SocketIO = "^5.3.6"
h5py = "^3.10.0"
mudata = "^0.2.3"
# numpy 2.3.0 drops support for Python 3.10
numpy = "<2.3.0"
pandas = "2.3.2"
scanpy = "1.11.4"
scipy = "^1.11.3"
werkzeug = "^3.0.2"
# previously in backend group - needed for MDVProject.serve() now.
gevent = "^25.5.1"
# previously in llm group
langchain = "^0.3.27"
langchain-experimental = "^0.3.4"
regex = "^2024.5.15"
langchain-openai = "^0.3.33"
faiss-cpu = "1.12.0"
tabulate = "^0.9.0"
python-dotenv = "^1.0.1"
nbformat = "^5.10.4"
polars = "^1.31.0"
ruff = "^0.3.7"
spatialdata = "^0.5.0"
spatialdata-io = "^0.3.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.402"
pytest = "^8.1.1"
ome-types = "^0.5.0"
jupyterlab = "4.4.9"
leidenalg = "^0.10.2"
matplotlib = "^3.8.4"
setuptools = "80.9.0"
packaging = "^24.0"
pillow = "^10.3.0"
seaborn = "^0.13.2"
umap-learn = "^0.5.6"
statsmodels = "^0.14.2"
generate-tiff-offsets = "^0.1.7"
spatialdata-plot = "^0.2.12"


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx-rtd-theme = "^2.0.0"
sphinx = "^7.3.7"
sphinx-autoapi = "^3.0.0"


[tool.poetry.group.backend]
optional = true

[tool.poetry.group.backend.dependencies]
flask-sqlalchemy = "^3.1.1"
psycopg2 = "^2.9.9"
gunicorn = "23.0.0"
psycogreen = "^1.0.2"


[tool.poetry.group.llm]
optional = true
[tool.poetry.group.llm.dependencies]
gspread = "^6.1.2"
oauth2client = "^4.1.3"

[tool.poetry.group.auth]
optional = true

[tool.poetry.group.auth.dependencies]
authlib = "1.6.4"
requests = "^2.32.3"
python-jose = "^3.3.0"
auth0-python = "^4.9.0"
flask-jwt-extended = "^4.7.1"
redis = "^5.2.1"

[tool.pyright]
venvPath = "../venv/"
typeCheckingMode = "standard"

# [project.urls]
# "Homepage" = "https://github.com/Taylor-CCB-Group/MDV"
# "Bug Tracker" = "https://github.com/Taylor-CCB-Group/MDV/issues"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "performance: marks tests as performance tests (deselect with '-m \"not performance\"')",
    "slow: marks tests as slow running",
    "integration: marks tests as integration tests"
]

testpaths = ["mdvtools/tests"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = [
    "-v",
    "--tb=short",
    "--strict-markers"
]