name: Build and Deploy Stable

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-stable:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.event.head_commit.message, '[stable]')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Fetch all history for all branches and tags
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Generate build metadata
        id: build_metadata
        run: |
          echo "git_commit_date=$(git log -1 --format=%cI)" >> $GITHUB_OUTPUT
          echo "git_branch_name=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
          echo "git_commit_hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "git_last_commit_message=$(git show -s --format=%s | sed 's/"/\\"/g' | tr -d '\n' | sed 's/[^[:print:]]//g')" >> $GITHUB_OUTPUT
          echo "build_date=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "git_dirty=false" >> $GITHUB_OUTPUT

      - name: Generate release notes
        id: release_notes
        run: |
          RELEASE_NOTES=$(git log -1 --pretty=format:"%h - %s" | sed 's/"/\\"/g')
          echo "release_notes=$RELEASE_NOTES" >> $GITHUB_OUTPUT
          echo "Release notes: $RELEASE_NOTES"

      - name: Build and push linux/amd64 image
        run: |
          echo "Building and pushing image..."
          docker buildx build --platform linux/amd64 \
            --build-arg GIT_COMMIT_DATE="${{ steps.build_metadata.outputs.git_commit_date }}" \
            --build-arg GIT_BRANCH_NAME="${{ steps.build_metadata.outputs.git_branch_name }}" \
            --build-arg GIT_COMMIT_HASH="${{ steps.build_metadata.outputs.git_commit_hash }}" \
            --build-arg GIT_LAST_COMMIT_MESSAGE="${{ steps.build_metadata.outputs.git_last_commit_message }}" \
            --build-arg BUILD_DATE="${{ steps.build_metadata.outputs.build_date }}" \
            --build-arg GIT_DIRTY="${{ steps.build_metadata.outputs.git_dirty }}" \
            --label "org.opencontainers.image.version=${{ steps.build_metadata.outputs.git_commit_hash }}" \
            --label "org.opencontainers.image.revision=${{ steps.build_metadata.outputs.git_commit_hash }}" \
            --label "org.opencontainers.image.created=${{ steps.build_metadata.outputs.build_date }}" \
            --label "org.opencontainers.image.source=${{ github.repositoryUrl }}" \
            --label "org.opencontainers.image.description=${{ steps.release_notes.outputs.release_notes }}" \
            -t ${{ secrets.DOCKER_HUB_USERNAME }}/mdv:stable \
            --cache-from=type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/mdv:cache \
            --cache-to=type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/mdv:cache,mode=max \
            --push .

